@{
    ViewData["Title"] = "Home page";
    List<sensor_heat> front_sensor = (List<sensor_heat>)ViewData["front_sensor"];
}

<div class="container">
    <div class="row">
        <div class="col-2 col_left">
            <a class="btn btn-light btn_css_left">Overview</a>
            <a class="btn btn-light btn_css_left">Freelancer</a>
            <a class="btn btn-light btn_css_left">Office products</a>
            <a class="btn btn-light btn_css_left">Grow products</a>
            <a class="btn btn-light btn_css_left">Capsule products</a>
            <a class="btn btn-light btn_css_left">Stock in company</a>
            <a class="btn btn-light btn_css_left">Gas expenses</a>
            <a class="btn btn-light btn_css_left">Subscriptions</a>
            <a class="btn btn-light btn_css_left">Returned products</a>
            <a class="btn btn-light btn_css_left">Cursus</a>
            <a class="btn btn-light btn_css_left">Hired people</a>
            <a class="btn btn-light btn_css_left">Remaining</a>
            <a class="btn btn-light btn_css_left" id="arrowBack"><--</a>
        </div>
        <div class="col-1 col_middle">

        </div>
        <div class="col-9 col_right">
            <table class="table w-100">
                <thead>
                    <tr>
                        <th scope="col">#Snabbstar#</th>
                        <th scope="col">name</th>
                        <th scope="col">data</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (sensor_heat tmpSensor in front_sensor)
                    {
                        <tr>
                            <td class="display-10">@tmpSensor.id</td>
                            <td class="display-10">@tmpSensor.name</td>
                            <td class="display-10">@tmpSensor.data</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>